@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    ;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);

}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;

}

.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo span {
    color: var(--hover-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    transition: all 1.5s;

}

.navlist a:hover {
    color: var(--hover-color);
    box-shadow: var(--font-neon-text-shadow);
    border-radius: 5px;
}

#menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    background: var(--hover-color);
    color: var(--secon-bg-color);
    border-radius: 4px;
    display: none;
}


section {
    padding: 50px 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
}

.home-content {
    padding: 5px;
}

.home-content h1 {
    font-size: var(--big-font);

}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-text h3 {
    font-size: 25px;
    display: inline;
}

.change-text p {
    font-size: 20px;
    letter-spacing: .1rem;
    line-height: 2rem;
    color: rgb(155 152 152);
}

.info-box {
    display: flex;
    justify-content: space-around;
}

.info-box span {
    color: rgb(155 152 152);
}

.btn-box {
    /* text-align: center;  */
    padding: 20px 0px;
}

.btn-box a:first-child {
    border: 1px solid gray;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    background: #12f7ff;
    color: #250821;
    font-weight: 700;
    box-shadow: 0 0 10px #12f7ff;
    transition: all 1.5s;



}

.btn-box a:last-child {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #12f7ff;
    box-shadow: 0 0 10px #12f7ff;
    transition: all 1.5s;


}

.btn-box a:last-child:hover {
    background: #12f7ff;
    color: #250821;
}

.btn-box a:first-child:hover {
    color: #12f7ff;
    background: transparent;
}

.social-box {
    padding: 10px 10px 10px 0px;
}

.social-box a {
    border: 1px solid #12f7ff;
    padding: 3px 6px;
    border-radius: 7px;
    font-size: 25px;
    color: #12f7ff;
    margin: 10px 10px 10px 0px;
    box-shadow: var(--neon-box-shadow);
    transition: all 1.5s;
}

.social-box a:hover {
    background: #12f7ff;
    color: #250821;
}

.img-box{
    height: 400px;
    width: 400px; 
    box-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
        0 0 20px rgba(18, 247, 255, 0.6),
        0 0 30px rgba(18, 247, 255, 0.6),
        0 0 40px rgba(18, 247, 255, 0.6),
        0 0 70px rgba(18, 247, 255, 0.6),
        0 0 80px rgba(18, 247, 255, 0.6),
        0 0 100px rgba(18, 247, 255, 0.6),
        0 0 150px rgba(18, 247, 255, 0.6);
    cursor: pointer;
    border-radius: 50%; 
    overflow: hidden;
    border: 20px solid transparent;
    background: linear-gradient(red, blue) padding-box,
    linear-gradient(to top, #05f3dffa, #1709ed) border-box; 
   
}
.img-box img{  
    max-height: 100%; 
}
.about{
    background: var(--secon-bg-color);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
}
.about-content h4{
     font-size: 15px;
     color: #afacac;
}
.about-content h1{
    font-size: 35px;
    line-height: 3.5rem;
    color: var(--hover-color); 
    font-weight: 700;

}
.about-content h2{
    font-size: 25px;  
    font-weight: 500;

}
.about-content p{
    font-size: 15px;
    color: #afacac;
    margin-left: 20px;
    letter-spacing: 0.1rem;

}
.about-content a{
    background: #12f7ff;
    padding: 10px; 
    line-height: 4rem;
    font-size: 20px;
    border-radius: 5px;

}
.services h5{
    font-size: 15px;
    font-weight: 400;
    color: #afacac;
    text-align: center;
}
.services h1{
    font-size: 35px;
    font-weight: 700;
    color: #12f7ff;
    text-align: center;
}
.card-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;

}
.card-1{
    background: var(--secon-bg-color);
    width: 320px;
    height: 500px;
    border-radius: 5px;
}
.icon{
    display: flex; 
    justify-content: center;
}
.card-section .card-1 .icon i{
    border-radius: 50%;
    border: 1px solid gray;
    padding: 20px;
    color: #12f7ff;
    background-color: #250821;
    font-size: 80px;
    margin: 30px; 
}
.card-text{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-section .card-1 .card-text h1{
    font-size: 23px;
    font-weight: 700;
    color: var(--text-color);

}
.card-section .card-1 .card-text p{
    font-size: 15px;
    font-weight: 400;
    color: #afacac;
    padding: 20px;
    text-align: center;

}
.card-section .card-1 .card-text a{
    font-size: 20px;
    font-weight: 500;
    color: #12f7ff;
    background: var(--bg-color);
    padding: 10px;  
    border-radius: 5px;
    transition: all 1s ease; 
    position: relative; 
}
.card-text .btn .hover{
    position: absolute;
    top: 0;
    left: 0px;
    background:  #eb089f86;
    height: 50px;
    width: 0px;
    border-radius: 5px;
    transition: all 1s ease;
} 
.btn:hover .hover{ 
    width: 135px;

}













::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #bc04eb;
}
::-webkit-scrollbar-thumb{
    background: #ebd404;
    border-radius: 5px;
}